/config/*
/logs/*
/node_modules
npm-debug.log
components.js
core.js
miscommands.js
/logs/complain.txt
/config/config.js
/config/custom.css
spamroom.js
bot.js

# boilerplate #
###############

.DS_Store

# editor temp files
*~
.idea/

tmp/**/*
*.lock
*.DS_Store
*.swp
*.out
*.pyc
*.pyo
.installed.cfg

downloads
build
dist

# egg related
develop-eggs
*.egg-info
*.egg
*.EGG
*.EGG-INFO
src/*.egg-info
eggs
fake-eggs

# django
local_settings.py

# SCM
.hg
.bzr
.svn

pip-log.txt

